body {
  font-size: 1.2rem;
  margin-top: 0; 
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.login-box {
  align-self: center;
}

#main-page {
  display: flex;
  overflow: hidden;
}

.chat-box {
  width: 70%;
  float: left;
}

.user-list {
  flex-shrink: 0;
  width: 15%;
  height: 100vh;
  float: left;
  overflow-wrap: break-word;
}
